In [40]:
#LIBRARIES IMPORT

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [41]:
trichyHousingInfo = pd.read_csv('Trichy Housing Info .csv')

retainColumns = ['Total - Persons', 'Total - Males', 'Total - Females', 'Scheduled Caste - Persons', 'Scheduled Caste - Males', 'Scheduled Caste - Females', 'Scheduled Tribe - Persons', 'Scheduled Tribe - Males', 'Scheduled Tribe - Females']
trichyHousing = trichyHousingInfo[retainColumns]

In [42]:
fairPriceShops = pd.read_csv("no_of_fair_price_shops_.csv")

In [43]:
locationColumns = ['State Code', 'District Code', 'Tahsil/ Sub-District Code', 'Town/ Village Code', 'Ward Code', 'Enumeration Block Code', 'Level', 'Name']
trichyHousingLocationInfo = trichyHousingInfo[locationColumns]

In [44]:
fairPriceShops.columns

Index(['S.No', 'Name of the Blocks/Corporation/Municipalities',
       'Number of Shops'],
      dtype='object')

In [45]:
fairPriceShops

     S.No Name of the Blocks/Corporation/Municipalities  Number of Shops
0       1                          Tiruchirappalli West               92
1       2                                 Thiruverumbur               92
2       3                                     Srirangam              136
3       4                                    Manapparai              120
4       5                                       Lalgudi              138
5       6                                Mannachanallur               94
6       7                                        Musiri              139
7       8                                     Thottiyam               71
8       9                                     Thuraiyur              141
9      10                          Tiruchirappalli East              121
10     11                                   Marungapuri               73
11  Total                                         Total             1217

In [46]:
trichyHousingLocationInfo

,State Code,District Code,Tahsil/ Sub-District Code,Town/ Village Code,Ward Code,Enumeration Block Code,Level,Name
0,33,15,0,0,0,0,DISTRICT,Tiruchirappalli
1,33,15,0,0,0,0,DISTRICT,Tiruchirappalli
2,33,15,0,0,0,0,DISTRICT,Tiruchirappalli
3,33,15,1,0,0,0,TALUK,Thottiyam
4,33,15,1,0,0,0,TALUK,Thottiyam
...,...,...,...,...,...,...,...,...
907,33,15,8,41525000,11,0,WARD,Ponnampatti (TP) - Ward No.11
908,33,15,8,41525000,12,0,WARD,Ponnampatti (TP) - Ward No.12
909,33,15,8,41525000,13,0,WARD,Ponnampatti (TP) - Ward No.13
910,33,15,8,41525000,14,0,WARD,Ponnampatti (TP) - Ward No.14
911,33,15,8,41525000,15,0,WARD,Ponnampatti (TP) - Ward No.15

In [47]:
uniqueHousingLocations = trichyHousingLocationInfo["Name"].unique()
uniqueLevelValues = trichyHousingLocationInfo["Level"].unique()

allowedLevels = ['DISTRICT', 'TALUK', 'TOWN']
trichyHousingTaluks = list(set(trichyHousingLocationInfo[trichyHousingLocationInfo["Level"].isin(allowedLevels)]["Name"].tolist()))
trichyHousingTaluks.sort()

In [38]:
temp = fairPriceShops['Name of the Blocks/Corporation/Municipalities'].tolist()
fairPriceShopsLocation = temp[:-1]
fairPriceShopsLocation.sort()

In [48]:
print(fairPriceShopsLocation)
print(trichyHousingTaluks)

['Lalgudi', 'Manapparai', 'Mannachanallur', 'Marungapuri', 'Musiri', 'Srirangam', 'Thiruverumbur', 'Thottiyam', 'Thuraiyur', 'Tiruchirappalli East', 'Tiruchirappalli West']
['Lalgudi', 'Manachanallur', 'Manapparai', 'Musiri', 'Srirangam', 'Thottiyam', 'Thuraiyur', 'Tiruchirappalli']