In [2]:
#LIBRARIES IMPORT

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [3]:
fairPriceShops = pd.read_csv("no_of_fair_price_shops_.csv")

In [4]:
fairPriceShops.columns

Index(['S.No', 'Name of the Blocks/Corporation/Municipalities',
       'Number of Shops'],
      dtype='object')

In [5]:
noOfShops = fairPriceShops['Number of Shops'][:-1]

In [ ]:
temp = fairPriceShops['Name of the Blocks/Corporation/Municipalities'].tolist()
fairPriceShopsLocation = temp[:-1]
fairPriceShopsLocation.sort()

In [ ]:
print(fairPriceShopsLocation)

['Lalgudi', 'Manapparai', 'Mannachanallur', 'Marungapuri', 'Musiri', 'Srirangam', 'Thiruverumbur', 'Thottiyam', 'Thuraiyur', 'Tiruchirappalli East', 'Tiruchirappalli West']

In [7]:
fairPriceShops

     S.No Name of the Blocks/Corporation/Municipalities  Number of Shops
0       1                          Tiruchirappalli West               92
1       2                                 Thiruverumbur               92
2       3                                     Srirangam              136
3       4                                    Manapparai              120
4       5                                       Lalgudi              138
5       6                                Mannachanallur               94
6       7                                        Musiri              139
7       8                                     Thottiyam               71
8       9                                     Thuraiyur              141
9      10                          Tiruchirappalli East              121
10     11                                   Marungapuri               73
11  Total                                         Total             1217